.version.news /* version checker */
{
	color: #00000F;
	background-color: #1ED246;
}

#page
{
	z-index: 1;
	min-height: 482px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 18px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u476
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 95.84%;
	left: 2.09%;
}

#menuu386
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 48.48%;
}

#u408
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
}

#u409
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u409:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u409:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u410-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u409:hover #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u409:active #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u394
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 25.12%;
}

#u395
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u409.MuseMenuActive,#u395:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u395:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u397-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u409.MuseMenuActive #u410-4,#u395:hover #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u395:active #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u401
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 50.23%;
}

#u402
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u395.MuseMenuActive,#u402:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u402:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u405-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 87.28%;
}

#u402:hover #u405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87.28%;
	margin: 0px -10000px 0px 0%;
}

#u402:active #u405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87.28%;
	margin: 0px -10000px 0px 0%;
}

#u402.MuseMenuActive #u405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87.28%;
	margin: 0px -10000px 0px 0%;
}

#u404
{
	z-index: 23;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	width: 12.73%;
	left: 87.28%;
}

#u402:hover #u404
{
	height: 14px;
	min-height: 0px;
	width: 12.73%;
	margin: 0px -10000px 0px 0%;
}

#u402:active #u404
{
	height: 14px;
	min-height: 0px;
	width: 12.73%;
	margin: 0px -10000px 0px 0%;
}

#u402.MuseMenuActive #u404
{
	height: 14px;
	min-height: 0px;
	width: 12.73%;
	margin: 0px -10000px 0px 0%;
}

#u406
{
	top: 34px;
	width: 109.1%;
}

#u551
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u551:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u555-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 95%;
	left: 1.67%;
}

#u551:hover #u555-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u407,#u549,#u577
{
	position: relative;
	width: 100%;
}

#u578
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u551.MuseMenuActive,#u578:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u578.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u581-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 95%;
	left: 1.67%;
}

#u551.MuseMenuActive #u555-4,#u578:hover #u581-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u578.MuseMenuActive #u581-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u555-3,#u581-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u387
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.67%;
	left: 75.34%;
}

#u388
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u402.MuseMenuActive,#u388:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u388:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u388.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u389-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u395.MuseMenuActive #u397-4,#u388:hover #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u388:active #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u388.MuseMenuActive #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u490
{
	z-index: 44;
	margin-bottom: -25px;
	position: relative;
	margin-right: -10000px;
	margin-top: -25px;
	width: 29.79%;
	left: 71.2%;
}

#u487
{
	z-index: 45;
	width: 100%;
}

#u707
{
	z-index: 2;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	width: 95.84%;
	left: 2.09%;
}

#u718-5
{
	z-index: 50;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 30px;
	width: 31.46%;
}

#u714-4
{
	z-index: 46;
	min-height: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 18.65%;
	margin-left: 81.36%;
	left: -20px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 396px;
}

